:root {
    /* Debug colors */
    --header-bg-debug: green;
    --main-bg-debug: blue;
    --footer-bg-debug: red;

    /* Production colors */
    --header-bg-prod: #123456; /* Example production color */
    --main-bg-prod: #789abc; /* Example production color */
    --footer-bg-prod: #def012; /* Example production color */
}

html, body {
    height: 100%;
    margin : 0;
}

header {
    flex: 0 0 10%;
    line-height: 6;
    /* background-color: var(--header-bg-debug); /* Default to debug */
}

main {
    flex: 1;
    line-height: 3;
    /* background-color: var(--main-bg-debug); /* Default to debug */
}

footer {
    flex: 0 0 10%;
    line-height: 2;
    /* background-color: var(--footer-bg-debug); /* Default to debug */
}